@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
  margin: 0;
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Cabin", sans-serif;
}

h2 {
  @apply text-4xl font-bold text-[#e8c3f0] uppercase mb-8 text-center
}

.gradient-overlay {
  @apply absolute bottom-0 left-0 right-0 h-full bg-gradient-to-t from-black via-transparent to-transparent opacity-0 transition-opacity duration-300 ease-in-out;
}

.movie-card:hover .gradient-overlay {
  @apply opacity-100;
}